<h1>{{title}}</h1>
<table class="table table-hover">
    <tbody>
        <tr>
            <td><b>name</b></td>
            <td>

                <input type="text" class="form-control" placeholder="name" ng-model="restaurant.name">
            </td>
        </tr>
        <tr>
            <td><b>category</b>
            </td>
            <td>
                <input type="text" class="form-control" placeholder="category" ng-model="restaurant.category">
            </td>
        </tr>
        <tr>
            <td><b>address</b>
            </td>
            <td>
                <input type="text" class="form-control" placeholder="address" ng-model="restaurant.address">
            </td>
        </tr>
        <tr>
            <td><b>phone</b>
            </td>
            <td>
                <input type="text" class="form-control" placeholder="phone" ng-model="restaurant.phone">
            </td>
        </tr>
        <tr>
            <td><b>open hours</b>
            </td>
            <td>
                <input type="text" class="form-control" placeholder="hours" ng-model="restaurant.openHours">
            </td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-outline btn-primary btn-lg btn-block" ng-click="save(restaurant)">Save</button>
<!-- <form class="form-horizontal" role="form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="name" ng-model="restaurant.name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="category" ng-model="restaurant.category">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="address" ng-model="restaurant.address">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="phone" ng-model="restaurant.phone">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="hours" ng-model="restaurant.openHours">
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-outline btn-primary btn-lg btn-block" ng-click="save(restaurant)">Save</button>
    </div>
</form> -->
